*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #9DDE8B;
    /* position: flex; */
}
#custom-cursor {
    width: 50px;
    height: 50px;
    background-image: url(../img/Microsoft-Coffee-Emoji.png); /* base64 encoded image data */
    background-size: cover;
    position: absolute;
    top: -25px;
    left: -25px;
    pointer-events: none;
  }
.card{
    animation:transitionIn 0.75s;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1; 
        transform: rotateX(0);
    }
}
/* .birthdayCard{
    margin-top: 500px;
    height: 500px;
} */
.card{
    margin-top: 500px;
    width: 840px;
    height: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
}
.card:hover{
    transform: rotate(-5deg);
}
.card:hover .outside{
    transform: rotateY(-130deg);
}
.outside,.inside{
    
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
}
.inside{
    
    background: linear-gradient(
        to right,
        #40A578,#3ac687 30%);
        /* line-height: 3px; */
        padding: 0 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        /* left: 50%; */
}
.outside{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: .2s;

}
.front,.back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotate(0deg);
}
.front{
    background-color: #40A578;
}
.back{
    transform: rotateY(180deg);
    background: linear-gradient(to left,#40A578,
    #3ac687 30%);
}
.cake{
    width: 100%;
    position: absolute;
    bottom: 30px;
}
.top-layer,.middle-layer,.bottom-layer{
    height: 80px;
    width: 240px;
    background-repeat: repeat;
    background-size: 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #754a0f 50px,
        #fedbab 60px,
        transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #e4863d 30px,
        #fdf861 31px);
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: auto;
}
.middle-layer{
    transform: scale(0.85);
    top: 6px;
}
.top-layer{
    transform: scale(0.7);
    top: 26px;
}
.candle{
    height: 45px;
    width: 15px;
    background: repeating-linear-gradient(
        45deg,
        #fd3018 0,
        #fd3018 5px,
        #ffa89e 5px,
        #ffa89e 10px
    );
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    bottom: 202px;
}
.candle:before{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffa500;
    border-radius: 0 50% 50% 50%;
    bottom: 48px;
    transform: rotate(45deg);
    left: -1px;

}
.outside p{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 6px;
    color: #FFFBF5;
    
}
.inside p{
    color: #FFFBF5;
    font-size: 14px;
    text-align: justify;
  text-justify: inter-word;
}
.inside h1{
    font-size: 120px;
    line-height: 120px;
}

/*button css*/
.goBack button{
    color: #ffffff;
    padding: 10px 20px;
    background-color: #3ac687;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(186, 119, 25, 0.2), 0 6px 20px 0 rgba(94, 6, 85, 0.308);
    /* margin: 0; */
    position: absolute;

    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}